[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
faker = "==4.1.1"
pandas = "*"
simplejson = "*"
xlrd = "*"
jupyterlab = "*"

[requires]
python_version = "3.7"
